.usercard {
  background-color: rgb(252, 32, 32);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2px;
  height: 200px;
  width: 400px;
}
.main-image {
  height: 100px;
}
